* {
  /* color: black; */
}

body {
  background: rgb(240, 234, 234);
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.header_img1 {
  /* background-image: url("../images/Horse-With-Blue-Eyes-280x210.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.topimg_contant {
  margin-top: 120px;
}

.header_img2 {
  /* background-image: url("../images/Horse-With-Blue-Eyes-280x210.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.header_img3 {
  /* background-image: url("../images/Arawn-Celtic-God-Of-Life-And-Death-1-280x210.webp"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;

}

.header_img4 {
  /* background-image: url("../images/Dawadawa-Parkia-Biglobosa-Weird-Flowers-1-740x400.webp"); */
  height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.categorys {
  text-align: center;
  background: -webkit-linear-gradient(183deg, #292526, #f4839b, #b50128);
  text-transform: uppercase;
}

.categorys h2 {
  color: white;
}

.category_contantimg {
  position: relative;
  bottom: -10px;
  left: 0;
  color: #b50128;
  text-transform: uppercase;
}

.footer {
  height: 350px;
}

.title {
  color: white;
  margin-left: 15%;
  margin-top: 5%;
}

.image-caption {
  margin-left: 15%;
  margin-top: 3%;
  color: white;
}

.copyright-text {
  margin-left: 15%;
  margin-top: 10%;
  color: white;
}

.ul {
  display: flex;
  gap: 1px;
  margin-top: 13%;
}

.ul li {
  color: white;
  list-style: none;
}

.icons {
  display: flex;
  gap: 1rem;
  margin-top: 2%;
  margin-left: 11%;
  gap: 2rem;
}

.icons li {

  list-style: none;
  font-size: 25px;
}

.icons li i {
  color: white;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

#bredcrum {
  margin-top: -72px;
}


.div6 {
  height: auto;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 10px rgb(214, 211, 211);
  background-color: rgba(246, 151, 151, 0.3);
  overflow: hidden;
}

.img6 {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  padding: 10px;
}


/* .Travel {
  margin: 2%;
} */

.date {
  position: relative;
  top: 35px;
}

.read_more {
  position: relative;
  top: 35px;
  float: right;
}

.div4 {
  /* height: 450px; */
  border-radius: 15px;
  margin-top: 5%;
  box-shadow: 1px 1px 10px 10px rgb(243, 239, 239);
  background-color: rgba(246, 151, 151, 0.3);
}

.breadcrumb-section {
  margin-top: -100px;
}

.breadcrumb-option {
  padding: 70px 0 65px;
  margin-top: 100px;
  height: 300px;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
}

.breadcrumb__text h2 {
  color: #05314B;
  font-weight: 700;
  margin-bottom: 5px;
}

.breadcrumb__links a {
  font-size: 15px;
  color: #05314B;
  font-weight: 900;
  margin-right: 18px;
  display: inline-block;
  position: relative;
}

.mt-7 {
  margin-top: 165px;
}

.mt-6 {
  margin-top: 33px;
}

.bg-theme {
  background-color: #b30026;
}

.section-theme {
  background-color: rgba(246, 151, 151, 0.3)
}

ul {
  list-style: none;
}

ul>li {
  color: white;
}

div>a:hover {
  color: #000 !important;
}

.h3hover {
  cursor: pointer;
  transition: 0.5s;
}

.h3hover:hover {
  color: #f75050;
}

.row>a {
  color: black;
}

.blog_img {}

.nav_list {
  gap: 20px;
}

.try {
  flex-grow: 0 !important;
}

/* back to top button */
.back-to-top {
  position: fixed;
  right: 45px;
  bottom: 45px;
  z-index: 99;
}

/* related post bg color */

.bg-sec {
  background-color: #e9e7e7;
  transition: 0.8s;
  color: #000;
}

.bg-sec:hover {
  background-color: #eb5757;
  color: #fff;
}


.img-breadcrum {
  position: absolute;
  z-index: 1;
  /* margin-top: 16px; */
  /* margin-left: 12px; */
  left: 24px;
  top: 10px;
}

.fix {
  position: absolute;
  bottom: 5px;
  /* right: 5px;
  width: 70px; 
  border: 0px solid #d6d6d6;  */
}

.div5 {
  height: auto;
  border-radius: 15px;
  margin-top: 5%;
  box-shadow: 1px 1px 10px 10px rgb(243, 239, 239);
  background-color: rgba(246, 151, 151, 0.3);
}

.bottom-end {
  position: absolute !important;
  bottom: 0;
}


.img1 {
  /* border-radius: 20px; */
  width: 100%;
  /* padding: 10px; */
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  -webkit-line-clamp: 2;
  /* Number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 576px) {
  .butt {
    font-size: 14px !important;
  }
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #b30026;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}

.sidebar.open {
  width: 250px;
  z-index: 99;

}

.toggle-button {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  padding: 10px;
  text-align: center;
  cursor: pointer;
  color: rgb(8, 8, 8);
}

ul>.bghover:hover {
  color: #b30026 !important;
  background-color: #e9e7e7;
}

.logo-img {
  height: 45px;
  width: 203px;
}

@media(max-width:576px) {
  .mobile-logo {
    position: relative;
    left: 118px;
  }
}

@media(max-width:768px) {
  .mobile-logo {
    position: relative;
    left: 118px;
  }
}

/* about  */

.about {
  /* border: 2px solid red; */
  box-shadow: 10px 10px 10px 10px rgb(243, 243, 243);

}

.about_text {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}



/* about end  */

/* follow us */
.follow_us {
  height: 120px;
  box-shadow: 10px 10px 10px 10px rgb(243, 243, 243);

}

.follow_text {

  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  position: relative;
  left: 8px;
}

.follow_icons {
  font-size: 25px;

}

.icons_button1 {
  margin: 5px;
  background-color: #E1306C;
  color: aliceblue;
  width: 100px;
  padding: 8px;
}

.icons_button2 {
  margin: 10px;
  background-color: #405DE6;
  color: aliceblue;
  width: 100px;
  padding: 8px;
}



/* follow us end  */

/* most popular start  */

.most_popular {
  height: 440px;
  box-shadow: 10px 10px 10px 10px rgb(243, 243, 243);
  ;
}

.most_text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  position: relative;
  left: 8px;
}

.most_img {
  width: 100%;
  height: 80px;
}

/* most popular end */

/* categories start  */

.categories {
  box-shadow: 10px 10px 10px 10px rgb(243, 243, 243);
}

.categories_text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  position: relative;
  left: 8px;
}

.categories_list {
  list-style: none;
}

.categories_list li {
  color: #000;
}


/* categories end */


/* post comment  */
.post_comment {
  height: 200px;
  box-shadow: 10px 10px 10px 10px rgb(243, 243, 243);
}

.post_text {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
  position: relative;
  left: 8px;
}